<footer id="footer" class="footer-1 mt-5">
  <div class="main-footer typo-light" style="background-color: #11101D">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">CYBER GAME<span></span></h5>
            <p>Cyber game được thành lập giúp những người đam mê chơi game có cơ hội trở thành game thủ tại
              Việt Nam</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;Trở về đầu trang</a></div>
              </li>
              <li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Theo dõi tôi<span></span></h5>
            <a href="#"><i class="fab fa-facebook-square"></i></a> &nbsp;
            <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <br>
        <br>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Liên hệ với chúng tôi<span></span></h5>
            <p>123 Nguyễn Hữu Thọ - Đà Nẵng</p>
            <div class="emailfield">
              <input type="text" name="email" value="Email" class="emailFooter">
              <input name="uri" type="hidden" value="arabiantheme">
              <input name="loc" type="hidden" value="en_US">
              <input class="submitbutton ripplelink" type="submit" value="Subscribe">
<!--              </form>-->
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Design Cyber Game © 2021. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
